<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de Projetos <a ng-href="#/projects/new" title="Novo projeto" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Novo projeto</a></div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Cliente</th>
                            <th>Descrição</th>
                            <th>Progresso</th>
                            <th>Ação</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="project in projects">
                            <td>{{ project.name }}</td>
                            <td>{{ project.client.data.name }}</td>
                            <td>{{ project.description | limitTo: 25 }}</td>
                            <td>{{ project.progress }}%</td>
                            <td>
                                <a ng-href="#/projects/{{ project.project_id }}/edit" title="Editar">Editar</a> |
                                <a ng-href="#/projects/{{ project.project_id }}/remove" href="" title="Excluir"> Excluir</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>