<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Cadastrar novo Projeto</div>
                <div class="panel-body">
                    <form name="form" role="form" method="POST" ng-submit="save()">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-error' : !form.name.$valid && form.name.$touched}">
                                <label class="col-md-4 control-label">Nome</label>
                                <input type="text" class="form-control" name="name" ng-model="project.name" required>
                                <div class="help-block" ng-messages="form.name.$error" ng-show="form.name.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error' : !form.client_id.$valid && form.client_id.$touched}">
                                <label class="col-md-4 control-label">Cliente:</label>
                                <select name="client_id" required ng-model="project.client_id"
                                        ng-options="c.id as c.name for c in clients" class="form-control">
                                    <option value="">Selecione um cliente</option>
                                </select>
                                <div class="help-block" ng-messages="form.client_id.$error" ng-show="form.client_id.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error' : !form.description.$valid && form.description.$touched}">
                                <label class="col-md-4 control-label">Descrição:</label>
                                <textarea class="form-control" rows="5" name="description" ng-model="project.description" required></textarea>
                                <div class="help-block" ng-messages="form.description.$error" ng-show="form.description.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-error' : !form.progress.$valid && form.progress.$touched}">
                                <label class="col-md-4 control-label">Progresso</label>
                                <input type="number" min="0" max="100" class="form-control" name="progress" ng-model="project.progress" required>
                                <div class="help-block" ng-messages="form.progress.$error" ng-show="form.progress.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                    <div ng-message="min">Valor minimo é 0</div>
                                    <div ng-message="max">Valor maximo é 100</div>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error' : !form.status.$valid && form.status.$touched}">
                                <label class="col-md-4 control-label">Status</label>
                                <select name="status" class="form-control" ng-model="project.status"
                                        ng-options="s.value as s.label for s in status" required>
                                    <option value="">Selecione um status</option>
                                </select>
                                <div class="help-block" ng-messages="form.status.$error" ng-show="form.status.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error' : !form.due_date.$valid && form.due_date.$touched}">
                                <label class="col-md-4 control-label">Data de enrega</label>
                                <input type="text" class="form-control" name="due_date" ng-model="project.due_date" required>
                                <div class="help-block" ng-messages="form.due_date.$error" ng-show="form.due_date.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-md-offset-5">
                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>