<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Nota - {{ projectNote.title }}</div>
                <div class="panel-body">
                    <ul>
                        <li>{{ projectNote.title }}</li>
                        <li>{{ projectNote.note }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>